<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.nControleConnectionString"
            connectionString="Data Source=10.1.1.247;Initial Catalog=nControle;User ID=sa;Password=Adm@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>